<div{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% include '@port_theme/components/event_teaser/_event_teaser.html.twig' with {
  thumbnail: demo_image_html,
  title: label,
  subtitle: content.body,
  url: url,
} %}
{{ content|without('body') }}
</div>